html,
body {
  padding: 0;
  margin: 0;
  color: #000;
  font-family: "Inter var experimental", "Noto Sans JP", "PingFang HK",
    "Helvetica Neue", Arial, sans-serif;
  font-size: 13.5px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  margin: 60px 20px;
  width: 338px;
}

a,
a:visited,
a:active {
  color: #000;
}

h1 {
  font-size: 14px;
  font-weight: normal;
  margin: 0 0 40px;
  line-height: 1.7;
}

p {
  line-height: 1.6;
  margin: 4px 0;
  letter-spacing: -0.1px;
}

p br {
  line-height: 1.6;
}

p span {
  display: block;
  height: 5px;
}

p section {
  color: grey;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  display: block;
  line-height: 1.2;
  margin-bottom: 8px;
  font-size: 12px;
}

footer {
  margin-top: 60px;
  margin: 60px 20px 20px;
  width: 336px;
}

footer span {
  line-height: 1.7;
  display: block;
  margin-top: 50px;
}

.ansi {
  width: 337px;
  font-family: "IBM Plex Mono";
  line-height: 13.5px;
}
